html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.center-container1 {
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: flex-start; /* 左对齐 */
    align-items: center; /* 垂直居中 */
    background: linear-gradient(45deg, rgb(23, 83, 250), rgb(62, 158, 248));
}

.center-container1 img {
    height: 70%; /* 控制图片大小 */
    object-fit: contain; /* 保持比例 */
    margin-left: 3%; /* 左侧偏移 10% */
}

.center-container-bottom {
    width: 100%;
    height: 7%;
    color: rgb(0, 0, 0);
    background: linear-gradient(45deg, rgb(62, 158, 248), rgb(23, 83, 250));
    position: fixed;
    bottom: 0; 

    /* 居中 */
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 4%; 
}

.center-container-bottom img {
    height: 50%; /* 图片高度占满 .center-container1 */
    object-fit: contain; /* 保持图片比例，不裁剪 */
    display: block;
    margin: auto; /* 水平居中 */
}
